.input-area {
    border-color: gray;
    border-style: solid;
    padding: 8px;
    margin: 29px;
    display: grid;
    font-weight: bold

}

.data-table {
    width: -webkit-fill-available;
    border-style: solid;
    padding: 8px;
    margin: 29px;
    border-color: gray;
    color: gray;
}

.text-only-button {
    border: none;
    padding: 0;
    background: none;
    float: right;
}

.text-only-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ui-widget-content
{
   border: 4px solid #DDD !important;
   background-color: whitesmoke !important;
}
.text-only-button{
    color: grey;
}

label{
    color: grey;
}

.border {
    display: inline-block;
    position: relative;
  }

.border:before,
.border:after {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '';
}

.border:before {
  right: -1px;
  bottom: 0;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
  border-bottom-right-radius: 7px;
}

.border:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid grey;
  border-bottom: 3px solid grey;
  border-bottom-left-radius:7px;
}